* {
  box-sizing: border-box;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #white;
}

ul li {
  display: inline;
  text-align: center;
}
li {
    float: left;
}

li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
    font-family: Arial;
    font-size: 10px;
}

li a:hover {
    height: .25rem;
    width: 100%;
    margin: 0;
    background: #2299f6;
    border: none;
    transition: .3s ease-in-out;




}
